@use "../../styles/_base/main.scss" as main;

// ------------------------------
// main nav bar wrapper
// ------------------------------

.header_navbar_wrapper {
  @include main.shrink(70%, 20px 0);

  @include main.large-screens {
    @include main.shrink(70%, 20px 0);
  }

  @include main.laptop-screens {
    @include main.shrink(80%, 20px 0);
  }
  @include main.tablet-screens {
    @include main.shrink(90%, 20px 20px);
  }
  @include main.mobile-screens {
    @include main.shrink(100%, 20px 20px);
  }
}

// ------------------------------
// main nav bar container
// ------------------------------
.header_navbar_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "navLogo navLinks navBasket";
  align-items: center;
  @include main.desctop-screens {
    grid-template-columns: 1fr 3fr 1.6fr;
  }
  @include main.tablet-screens {
    grid-template-areas:
      "navBasket navBasket navBasket" "navLogo . navHamburge"
      "navLinks navLinks navLinks";
  }
}

// ------------------------------
// main nav bar Logo
// ------------------------------
.header_navbar_logo {
  grid-area: navLogo;
  @include main.navIMGs(50px);
  cursor: pointer;
}

// ------------------------------
// main nav bar Nav Links
// ------------------------------
.header_navbar_nav_wrapper {
  grid-area: navLinks;
  @include main.tablet-screens {
    display: none;
  }
}

.header_navbar_nav_container {
  display: flex;
  justify-content: center;

  gap: 40px;
  @include main.laptop-screens {
    gap: 10px;
  }
  @include main.tablet-screens {
    gap: 10px;
  }
}

.nav_item {
  cursor: pointer;
}

// ------------------------------
// main nav bar basket
// ------------------------------

.header_navbar_basket_wrapper {
  grid-area: navBasket;
}

.header_navbar_basket_container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  @include main.laptop-screens {
    gap: 0px;
  }
}
.header_basket_img {
  @include main.navIMGs(40px);
  cursor: pointer;
}

.header_basket_amount_book {
  font-size: 0.6rem;
}
.header_basket_amount_bill_amount {
  font-size: 1.2rem;

  span {
    color: main.$light_text;
  }
}
// ------------------------------
// main nav bar basket
// ------------------------------

.header_humburger_wrapper {
  grid-area: navHamburge;
  padding-top: 2px;
}

.humburger_item {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  @include main.tablet-screens {
    display: block;
    float: right;
  }
  span {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 5px;
    transition: all 0.4 ease-in-out;
    cursor: pointer;
  }
}

.active {
  span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  span:nth-child(1) {
    transform-origin: 50%;
    transform: rotate(-45deg) translate(1px, -1px);
  }
  span:nth-child(2) {
    display: none;
  }

  span:nth-child(3) {
    transform-origin: 50%;
    transform: rotate(45deg) translate(-1px, -1px);
  }
}

// ------------------------------
// header banner
// ------------------------------
.header_banner_item {
  img {
    width: 100%;
    opacity: 0.6;
  }
}
