@use "../../styles/_base/main" as main;

// ----------------------------------
// SEARCH ITEM MAIN WRAPPER
// ----------------------------------

.search_item_wrapper {
  @include main.shrink(100%, 0 0 0 10px);
  border-bottom: 1px solid black;
}

// ----------------------------------
// SEARCH ITEM MAIN CONTAINER
// ----------------------------------

.search_item_container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

// ----------------------------------
// SEARCH ITEM DESCRIPTION CONTAINER
// ----------------------------------

.search_item {
  flex-grow: 7;
  display: flex;
  gap: 20px;
}

// ----------------------------------
// SEARCH ITEM DESCRIPTION IMG
// ----------------------------------

.search_img {
  @include main.navIMGs(150px);
}

// ----------------------------------
// SEARCH ITEM DESCRIPTION TEXT
// ----------------------------------

.search_description {
  .pisac {
    font-size: 0.7rem;
    margin-bottom: 15px;
  }
  .naslov {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
  .godina {
    font-size: 0.7rem;
    margin-bottom: 15px;
  }
  .opis {
    font-size: 0.65rem;
    margin-bottom: 15px;
  }
}

.book_item_btn {
  cursor: pointer;
  border: 1px solid black;
  padding: 10px 15px;
  display: flex;
  width: fit-content;
  p {
    font-size: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span:nth-child(1) {
      margin-bottom: 0;
      @include main.navIMGs(10px);
      margin-right: 5px;
    }
    span:nth-child(2) {
      vertical-align: middle;
      margin-bottom: 0;
    }
  }
}

// ----------------------------------
// SEARCH ITEM BASKET CONTAINER
// ----------------------------------

.search_item_basket_container {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  gap: 60px;
  width: 250px;
}

// ----------------------------------
// SEARCH ITEM BASKET PRICE CONTAINER
// ----------------------------------

.search_item_basket_price {
  text-align: right;
}

.search_item_action_add_item_container {
  border: 1px solid black;
  button {
    margin: 0;
  }
}

.search_item_action_add_item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
}

.action_add_item_img {
  @include main.navIMGs(20px);
}
