@use "./_base/main.scss" as main;

html {
  min-width: 380px;
  font-family: main.$main-font;
  font-weight: normal;
  font-style: normal;

  @include main.large-screens {
    font-size: main.calcRem(22px);
  }
  @include main.desctop-screens {
    font-size: main.calcRem(21px);
  }
  @include main.laptop-screens {
    font-size: main.calcRem(19px);
  }
  @include main.tablet-screens {
    font-size: main.calcRem(18px);
  }
  @include main.mobile-screens {
    font-size: main.calcRem(16px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: main.$background_color_white;
}

main {
  @include main.shrink(70%);

  @include main.large-screens {
    @include main.shrink(70%, 20px 0);
  }

  @include main.laptop-screens {
    @include main.shrink(80%, 20px 0);
  }
  @include main.tablet-screens {
    @include main.shrink(90%, 20px 20px);
  }
  @include main.mobile-screens {
    @include main.shrink(90%, 20px 20px);
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: main.$dark_text-primary;
}

p {
  color: main.$light_text;
}

a {
  text-decoration: none;
  color: main.$light_text;
}

body {
  background-color: main.$background_color_grey;
}

input {
  font-family: main.$main-font;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

.headline {
  @include main.shrink(100%, 30px 0);
  font-size: 1.7rem;
}
